.column__header
    .column__header-row
        i.fas.fa-home
        span Home
    .column__header-row
        i.fas.fa-fire
        span Trending

    .column__header-row
        i.fas.fa-swatchbook
        span Subscriptions

    .column__header-row
        i.fab.fa-youtube
        span Originals

    .column__header-row
        i.fas.fa-box
        span Library
