.social-login
    button.social-login--github
        a(href=routes.github)
            i.fab.fa-github
            |Continue with Github

    button.social-login--facebook
        a(href=routes.login)
            i.fab.fa-facebook
            |Continue with Facebook